.wrapper {
    display: flex;
    gap: 20px;
}

.container,
.trash {
    background-color: orange;
    padding: 10px;
    width: 200px;
    height: 300px;
    margin: 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}