html,
body,
.root {
    height: 100%;
}

body {
    margin: 0;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    background-color: #e1e1e1;
    border: 1px solid #ddd;
    width: 200px;
    height: 250px;
    padding: var(--gap);

    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: var(--gap);
}

.calc .header,
.calc .container {
    background-color: #e1e1e1;
}

.calc .header,
.calc .container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: var(--gap);
    padding: var(--gap);
}

.calc .header .monitor,
.calc .header .actions,
.calc .container .digits,
.calc .container .expressions {
    background-color: #ddd;
}

.calc .container .expressions {
    background-color: #eee;
}

.calc .header .monitor {
    display: flex;
    align-items: center;
    padding: 0 var(--gap);
    font-weight: bold;
    font-size: 22px;
}

.calc .container .digits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-s);
    padding: var(--gap-s);
}

.calc .container .expressions {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gap-s);
    padding: var(--gap-s);
}

.calc .header .actions {
    display: grid;
    padding: var(--gap-s);
}

.btn {
    background-color: #bbb;
    border: 1px solid #e1e1e1;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn:active {
    opacity: 0.9;
}


:root {
    --gap: 10px;
    --gap-s: 5px;
}