html,
body {
    height: 100%;
}

body {
    background-color: #f1f1f1;
    margin: 0;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.screen .actions {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #e1e1e1;
    padding: 20px;
}

.cube {
    background-color: green;
    width: 50px;
    height: 50px;
}